* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Anek Malayalam', sans-serif; }

.nav-item a {
  color: #11528f !important;
  margin: 20px; }

.nav-item a:hover {
  transition: 0.5s;
  font-size: 35px !important;
  margin: 10px; }

/* .textoh3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 250%;
    padding-bottom: 1rem;
    color: $color-principal;
}
 */
.textoh3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 250%;
  color: #11528f; }

.textoh3 {
  padding-bottom: 1rem; }

.textoh2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 270%;
  color: #11528f; }

.textoh2 {
  padding-bottom: 3rem; }

.logito {
  width: 10rem; }

.carousel {
  padding-bottom: 0.5%; }
  .carousel .carousel__alto {
    height: 900px;
    width: 100%; }
    @media (max-width: 991px) {
      .carousel .carousel__alto {
        height: 550px; } }
    @media (max-width: 900px) {
      .carousel .carousel__alto {
        height: 450px; } }
    @media (max-width: 757px) {
      .carousel .carousel__alto {
        height: 400px; } }
    @media (max-width: 500px) {
      .carousel .carousel__alto {
        height: 300px; } }
    @media (max-width: 370px) {
      .carousel .carousel__alto {
        height: 200px; } }

.ultimos_trabajos h3 {
  padding-bottom: 1rem; }

.ultimos_trabajos p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.ultimos_trabajos-fotos {
  width: 80%;
  min-width: 200px;
  max-width: 800px; }
  @media (min-width: 991px) {
    .ultimos_trabajos-fotos {
      width: 60%; } }

.fotosm {
  object-fit: none;
  object-position: top; }
  @media (max-width: 991px) {
    .fotosm {
      background-size: cover;
      object-fit: fill; } }

.espacio {
  padding-left: 20%; }
  @media (max-width: 1212px) {
    .espacio {
      padding-left: 2%; } }

.direc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem; }
  .direc__img {
    padding-bottom: 2%; }
  .direc__mundo {
    max-width: 700px;
    padding-bottom: 2%; }

.btn {
  background-color: #11528f; }

#fotografo {
  width: 80%; }

.padding {
  padding-top: 9%;
  padding-bottom: 9%; }

.form {
  padding-top: 5%;
  padding-bottom: 5%; }
