* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Anek Malayalam', sans-serif;
}

.btn{
    background-color: $color-principal;
}

.textoh2{
    padding-bottom:3rem;
}

.textoh3{
    padding-bottom: 1rem;
}