.nav-item{
    a{
        color: $color-principal !important;
        margin: 20px;
    }
    a:hover{
        transition: 0.5s;
        font-size: 35px !important;
        margin: 10px;
    }

}

.logo{
    width: 10rem;
}

.espacio{
    padding-left: 20%;
    @media (max-width:1212px) {
        padding-left: 2%;
    }
}